apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workshop-devops-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/juliomartinsdev/workshop1611-devops-gitops.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true